<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.system.role_permission.mapper.SmartRolePermissionMapper">

    <!-- 角色权限中间表结果映射 -->
    <resultMap id="BaseResultMap" type="com.smart.system.role_permission.entity.SmartRolePermission">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="permission_id" property="permissionId" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="Base_Column_List">
        id, role_id, permission_id
    </sql>

</mapper>
